.booking {
  padding: 0 20px 49px 20px;

  text-transform: uppercase;
  text-align: center;
}

.booking__intro {
  margin: 0;
  padding-top: 33px;
  padding-bottom: 20px;

  .big-title();
  color: #000000;
}

.booking__text {
  margin: 0;
  padding-bottom: 27px;

  .simple-text(24px);
  color: @text-dark;
}

.booking__search {
  margin: 0 auto;
  padding: 15px 32px 18px;
  width: 280px;

  .big-title();

  box-sizing: border-box;

  &:not(.button--disabled):hover {
    .button-hover();
  }

  &:not(.button--disabled):active {
    .button-active();
  }
}
