.main-nav {
  position: relative;
  width: 100%;
}

.main-nav__toggle {
  position: absolute;
  top: 17px;
  right: 20px;

  padding: 0;
  margin: 0;

  width: 22px;
  height: 22px;

  border: 0;
  border-radius: 0;
  background-color: transparent;

  cursor: pointer;

  @media (min-width: @tablet-width) {
    display: none;
  }

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }
}

.main-nav__toggle::before,
.main-nav__toggle::after {
  content: "";
  position: absolute;
  top: -3px;
  left: 9px;

  display: block;
  width: 4px;
  height: 27px;

  background-color: #ffffff;
}

.main-nav__toggle::before {
  transform: rotate(45deg);
}

.main-nav__toggle::after {
  transform: rotate(-45deg);
}

.main-nav__list {
  .list-reset();

  background-color: @blue;

  @media (min-width: @tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;

    background-color: #ffffff;
  }

  &--closed {
    display: none;
  }
}

.main-nav__list .main-nav__item:nth-last-child(2) {
  @media (min-width: @tablet-width) {
    grid-column-start: 4;
  }
}

.main-nav__list .main-nav__link {
  @media (min-width: @tablet-width) {
    font-weight: 700;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
}

.main-nav__item {
  @media (max-width: @mobile-width-only) {
    box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), 0 2px 0 rgba(255, 255, 255, 0.2);
  }
}

.main-nav__item:last-child {
  @media (max-width: @mobile-width-only) {
    box-shadow: inset 0 -5px 5px rgba(0, 0, 0, 0.2);
  }
}

.main-nav__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: @text-light;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
}

.main-nav__link[href] {
  &:hover {
    .button-hover();
  }

  &:active {
    .button-active();
  }
}

.main-nav__mobile {
  @media (max-width: @mobile-width-only) {
    position: relative;
    order: 2;

    height: 56px;
  }
}
