.main-nav__list {
  padding: 0;
  margin: 0;

  list-style: none;

  background-color: @blue;
}

.main-nav__link {
  display: block;
  padding-top: 10px;
  padding-bottom: 5px;

  font-weight: 700;
  font-size: 18px;
  line-height: 40px;
  color: @text-light;

  text-transform: uppercase;
  text-decoration: none;
}
