.page {
  font-family: "PT Sans", "Arial", sans-serif;
  font-style: normal;
  .simple-text(26px);
  color: @text-dark;
}

.page__body {
  margin: 0;
  min-width: 320px;

  background-color: #ffffff;
}
