.photo__title {
  padding-top: 24px;
  padding-bottom: 27px;
  margin: 0;

  .title();
  text-align: center;
}

.photo__text {
  padding-bottom: 40px;
  margin: 0;

  .simple-text(24px);
  text-align: center;
}

.photo__list {
  .list-reset();
}

.photo__content {
  padding-top: 22px;
  margin: 0;

  text-align: center;
}

.photo__img {
  display: block;
}

.photo__about {
  padding-top: 11px;
  padding-bottom: 15px;
}

.photo__name {
  margin: 0;

  .simple-text(24px, 700);
}

.photo__author {
  margin: 0;

  .simple-text(24px);
  text-transform: none;
}

.photo__likes {
  margin: 0;

  .simple-text(24px, 700);
}
