.video {
  padding-top: 32px;
  padding-bottom: 49px;
}

.video__intro {
  display: block;
  padding-bottom: 28px;

  .title();
  text-align: center;
}

.video__text {
  padding-bottom: 33px;
  margin: 0;

  .simple-text(24px);
  text-align: center;
}
