.wish {
  padding: 0;
  margin: 0;

  list-style: none;
  text-transform: uppercase;
  text-align: left;

  background-color: #ffffff;
}

.wish__item {
  padding-bottom: 26px;
}

.wish__title {
  padding-bottom: 16px;
  margin: 0;

  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
  color: #000000;
}

.wish__text {
  margin: 0;

  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: @text-dark;
}
